<div class="container">
  <h2>Patients</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Patient Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email name</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; let i = index">
      <td>{{i + 1}}</td>
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.email}}</td>
      <td>{{patient.message}}</td>
    </tr>
    </tbody>
  </table>
</div>
